* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #fff;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --toggle-handle-color: #fff;
  --bg-url: url(./assets/bg-mobile.jpg);
  --switch-bg-url: url(./assets/MoonStars.svg);
}

.light {
  --text-color: #000;
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --toggle-handle-color: #000;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --switch-bg-url: url(./assets/Sun.svg);
}

body {
  /* background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; */

  /* short hand (acima está como deveria ser de forma completa) */

  /* background: color image repeat position/size */
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  height: 712px;
  padding: 0 24px;
  /* margin funionamento: 0px (top) 0px (left) 0px (botton) 0px (right)
  caso sejam 3 propriedades: 0px (top) 0px (LR) 0px (botton)
  caso forem duas propriedades: 0px (top/botton) 0px (LR)
  caso for uma propriedade: 0px (geral)*/
  margin: 56px auto 0px;
}
/*profile*/
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  /*regrinha do css*/
  /* em elementos do tipo line não é possível aplicar margin:auto para centralizar a não ser que você converta em block (display: block;) ou altere o pai com o text-align: center; */
}

#profile p {
  font-weight: 500;
  line-height: 150%;
  margin-top: 8px;
}
/*switch*/
#switch {
  position: relative; /*Isso faz com que qualquer coisa absoluta dentro dele, fique dentro dele*/
  width: 64px;

  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: #fff var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  /*posição do botão*/
  position: absolute; /*Ele fez uma sobreposição de camada*/
  z-index: 1; /*Aqui é o andar da camada*/
  /*com as propriedades top/left/botton/right você consegue movimentar*/
  right: 0;
  top: 50%;

  transform: translateY(-50%);

  animation: slide-back 0.4s forwards;
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}

#switch button:hover {
  /*Porq usar outline e não border? 
  Outlines não ocupam espaço.
  Outlines podem ser não retangulares.*/
  outline: 8px solid var(--highlight-color);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/*links*/
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  border: 1px solid var(--stroke-color);
  background: var(--surface-color);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;
  border-radius: 8px;

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

ul li a:hover {
  border: 1px solid var(--text-color);
  background: var(--surface-color-hover);
}

/*social links*/

#social {
  display: flex;
  justify-content: center;

  padding: 24px 0;

  font-size: 24px;
}

#social a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;

  transition: backgound 0.2s;
}

#social a:hover {
  background: var(--highlight-color);
  padding: 16px;
}

footer {
  text-align: center;
  padding: 24px 0;
  font-size: 14px;
}

/*media queries*/
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}
/*Animações*/
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}